html
    head
        title login
        meta(charst='UTF-8')
    body
        .container
            .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.m-t-3
                    .card
                        .card-blcok
                        
